#myuser-container{
    justify-content: flex-end;
}
#myuser_circle{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(3, 255, 91);
    border-radius: 50%;
    background-color: rgb(0, 255, 89);
    margin-top:10px;
    margin-bottom:8px;
    margin-right:8px;
}
#myuser_message_grid{
    background-color: rgb(255, 255, 255,0.5);
    border-color: rgb(0, 0, 0);
    border-radius: 6px;
    display:block;
    width:fit-content;
    height:min-content;
    max-width: 60%;
    margin-top:8px;
    margin-bottom:8px;
    margin-right:8px;
    padding-right:12px;
    padding-left:12px;
    box-shadow: 3px 3px 5px #000;
}
#myuser_name_txt{
    text-align:right;
}
#myuser_message_txt #myuser_name_grid{
    display: inline-block;
    white-space: normal;
    text-align:right;
    max-width: 60%;
    word-break:break-word;
    margin:8px;
}


#otheruser-container{
    justify-content: flex-start;
}
#otheruser_circle{
    width: 20px;
    height: 20px;
    border: 1px solid rgb(1, 192, 255);
    border-radius: 50%;
    background-color: rgb(1, 192, 255);
    margin-top:10px;
    margin-bottom:8px;
    margin-left:8px;
}
#otheruser_message_grid{
    background-color: rgb(255, 255, 255,0.5);
    border-color: black;
    border-radius: 6px;
    display:block;
    width:fit-content;
    height:min-content;
    max-width: 60%;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:8px;
    padding-right:12px;
    padding-left:12px;
    box-shadow: 3px 3px 5px #000;
}
#otheruser_name_txt{
    text-align:left;
}
#otheruser_message_txt #otheruser_name_grid{
    margin:8px;
    display: inline-block;
    text-align:left;
    white-space: normal;
    max-width: 60%;
    word-break:break-word;
}

#system-container{
    justify-content:space-evenly;
}
#system_message_grid{
    background-color: rgb(255, 255, 255,0.5);
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    display:block;
    width:fit-content;
    height:min-content;
    max-width: 60%;
    margin-top:8px;
    margin-bottom:8px;
    margin-right:8px;
    padding-right:12px;
    padding-left:12px;
    box-shadow: 3px 3px 5px #000;
}
#system_txt{
    text-align:right;
    margin-top:3px;
    margin-bottom:3px;
}


p{
    word-break:break-all;
}